@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    list-style: none;
}
.button{
    color: #DE2E54;
    width: 189px;
    height: 47px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 700;
    border-radius: 10px;
    border:2px solid #DE2E54;
    margin-left: 52.5px;
}
.div{
    display: flex;
    gap: 128.5px;
    margin-top: 24px;
    width: 1440px;

}
.div ul li{
    margin-left: 128.5px;
    margin-right: -33px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    display: flex;
}
.div ul{
    display: flex;
    align-items: center;
}
.header{
    background-image: url(image\ 4\ \(11\).png);
    background-repeat: no-repeat;
}
.img{
    margin-left: 769px;
}
.mm{
    width: 600px;
    height: 178.2px;
    color: white;
    margin-top: -337px;
    margin-left: 170px;
    font-family: "Big Shoulders Display", sans-serif;
}
.buttonnik{
    background: #DE2E54CC;
    color: white;
    width: 189px;
    height:47px;
    border: 1px solid rgba(255, 0, 247, 0.233);
    border-radius: 5px;
    margin-left: 170px;
    margin-top: -58.91px;
}
.h1111{
    margin-top: 198px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}
.sectionn{
    width:869px;
    height:200px;
    margin-top: 30px;
    margin-left: 188px;
}
.n{
    margin-left: 252px;
    margin-top: -200px;

}
.sectionnbro{
    margin-top: 80px;
    width:864px;
    height:200px;
    margin-left: 188px;
}
.divchik{
    width:600px;
    height:125px;
}
.pochtifooter{
    width: 1440px;
    height: 669px;
    background-color: #0EB4C1;
}
.h99{
    font-weight: 600;
    line-height: 77.45px;
    font-size: 64px;
    padding-top: 64px;
    padding-left: 424px;
}
.v{
    border-radius: 5px;
    margin-top: 111px;
    margin-left: 126px;
}
.input{
    width: 460px;
    height: 39.11px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 2px solid #DEDEDE;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 600;   
    color: #7f7f7f;
}
.email{
    width: 460px;
    height: 39.11px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 2px solid #DEDEDE;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 600;   
    color: #7f7f7f;
}
.number{ 
    width: 460px;
    height: 39.11px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 2px solid #DEDEDE;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 600;   
    color: #7f7f7f;
}
.inpetgl{
    width: 540px;
    height: 331px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 700px;
    margin-top: -334px;
}
.buu{
    background-color: #38CC8B;
    width: 498px;
    height: 39.11px;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    box-shadow: 0px -4px 0px 0px #00000017 inset;
    margin-left: 30px;
    margin-top: 13.75px;
}
.footer{
    width:1,440px;
    height:97.94px;
    margin-top: 80px;
    background-color: #222222;
}
.logoo{
    margin-top: 24px;
    margin-left: 140px;
}
.us{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    color: white;
    margin-left: 894px;
    margin-top: -38.47px;
    gap: 32px;
}